h3 The page
	| &nbsp;
	code #{pagename}
	|  doesn't exist yet, sorry !
	br
	| if this is a error and you don't know why you are seeing this :
	a(href="mailto:nathan@tranchant.fr") nathan@tranchant.fr
