include mixins/_message
<!DOCTYPE html>
html(lang="fr")
	head
		meta(http-Equiv="Cache-Control" Content="no-cache")
		meta(http-Equiv="Pragma" Content="no-cache")
		meta(http-Equiv="Expires" Content="0")
		meta(charset="UTF-8")
		meta(lang="fr")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel='stylesheet' href='/chatstyle.css')
		script(src='https://use.fontawesome.com/74eb59777f.js')

	body
		each message in messages
			+message(message, channel)
		a(name="end" id="end")

