<!DOCTYPE html>
html(lang="fr")
	head
		meta(charset="UTF-8")
		meta(lang="fr")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel='stylesheet' href='/chatstyle.css')
		script(src='https://use.fontawesome.com/74eb59777f.js')

	body
		.message
			.messagetext
				| first ! msg 1
			.messageauthor
				| Nathan - 14:27
		.message
			.messagetext
				| message 2 :o
			.messageauthor
				| Michel - 14:29
		.message
			.messagetext
				| message 3
			.messageauthor
				| Alexandre - 14:30
		.message
			.messagetext
				| message 4 !!!
			.messageauthor
				| Nathan - 14:30
		.message
			.messagetext
				| message 5 , bruh
			.messageauthor
				| Nathan - 14:31
		.message
			.messagetext
				| message 6 saucisse
			.messageauthor
				| Patoche - 14:32
		.message
			.messagetext
				| message 7 like sett
			.messageauthor
				| Lasagne06150 - 15:05
		.message
			.messagetext
				| message 8 ? yes !
			.messageauthor
				| Nathan - 15:07
		.message
			.messagetext
				| 9 : guess who's back
			.messageauthor
				| IsraelDetroyerDu57 - 15:08
		.message
			.messagetext
				| back again - 10
			.messageauthor
				| Nathan - 15:34
		.message
			.messagetext
				| hello github (11)
			.messageauthor
				| Rémi - 15:50
		.message
			.messagetext
				| 12 yyyyyyyyyyyyyyyyyya
			.messageauthor
				| Nathan - 16:00
		.message
			.messagetext
				| 13
			.messageauthor
				| Alexandre - 16:01
		.message
			.messagetext
				| 14 fzef
			.messageauthor
				| Alexandre - 16:01
		.message
			.messagetext
				| 15 fzef
			.messageauthor
				| Alexandre - 16:01
		.message
			.messagetext
				| 16
			.messageauthor
				| macron - 16:03
