h3
	| une erreur vraiment innatendue est suvenue,
	|  si vous étiez en train de pousser l'application à ses limites bah vous l'avez bien cherché,
	|  sinon contactez moi tout de suite avec
	| la procédure pour reproduire l'erreur ainsi que le message ci-dessous
	|  à l'adresse
	| &nbsp;
	a(href="mailto:nathan@tranchant.fr") nathan@tranchant.fr
	br
	br
	span(style="color: red")
		| Error : #{errormsg}
