body {
	font-size: 1rem;
	font-family: Arial, sans-serif;
	word-break: break-word;
	color: #D7D5D9;
	background-color: #36393F;
}

.message {
	padding-top: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #555;
	cursor: pointer;
}

.message:hover {
	background-color: #555
}

.messagetext {
	font-size: 1.1rem;
	padding-bottom:5px;
	padding-left: 5px;
}

.messagecode {
	font-size: 0.9rem;
	padding: 5px;
	margin: 0 3px 3px;
	font-family: Consolas;
	color: #97e6fe;
	background-color: #213442;
	border-radius: 3px;
	-moz-tab-size: 4;
	tab-size: 4;
}

.messageauthor {
	padding-top: 5px;
	font-size: 0.8rem;
	padding-left: 6px;
}

.copybutton {
	font-weight: bold;
	color: #97e6fe;
	background-color: #213442;
	border-radius: 3px;
	height: 30px;
	margin-left: 5px;
	border: 2px solid #D7D5D9;
}
