body {
	font-size: 1rem;
	font-family: Arial, sans-serif;
	word-break: break-word;
	color: #D7D5D9;
	background-color: #2F3136;
}

.chat-container {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 3px solid #D7D5D9;
	border-radius: 10px;
	max-width: 1080px;
	max-height: 75%;
	margin: auto;
}

.chat-container iframe {
	height: 100%;
	width: 100%;
	border: none;
}

.regform {
	position: absolute;
	top:15%;
	bottom: 0;
	left: 0;
	right: 0;
	vertical-align: middle;
	width: 40%;
	height: 70%;
 	margin: 0 auto;
  	padding: 20px 50px 40px;
  	border: 2px solid #aaa;
  	border-radius: 8px;
	font-family: sans-serif;
	box-sizing: border-box;
}

.regform * {
    box-sizing: border-box;
}
.regform h2{
  	text-align: center;
  	margin-bottom: 15%;
}

.regform input {
	margin-bottom: 15px;
	margin-top: 3px;
  	display: block;
  	height: 32px;
  	padding: 5px 10px;
  	width: 100%;
	border: 1px solid #aaa;
	border-radius: 8px;
}

.regform label {
  color: #aaa;
  font-size: 1em;
  font-weight: bold;
}


.regform button[type=submit] {
  display: block;
  margin: 15% auto 0;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid #aaa;
  color: #2F3136;
  font-weight: 700;
  box-shadow: 1px 4px 10px 1px #aaa;
}

.backbutton {
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
}

.backbutton i {
	font-size: 35px;
}

.fullscreenbutton {
	position: relative;
	bottom: 68px;
	cursor: pointer;
	width: 63px;
	height: 68px;
}

.fullscreenbutton i {
	box-sizing: border-box;
	padding: 15px;
	border-top: 3px solid #D7D5D9;
	border-right: 3px solid #D7D5D9;
	border-radius: 5px;
	font-size: 35px;
}
